<br>
<mat-divider></mat-divider>
<br>
<br><br><br><br><br><br> 
<mat-card class="Password-card">
  <mat-card-header>
  <mat-card-title>Change Password :</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Enter Old Password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div> -->
  </mat-card-content>
</mat-card>