<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Administrator</h2>
            <h4>Admin@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Channge Password</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Add Placement Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Add Interships Details</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Add place student</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Display</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contact Us
    </a>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>