<br>
<mat-divider></mat-divider>
<br>
<mat-card class="campus-card">
  <mat-card-header>
    <mat-card-title>Congratulation !!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <div class="example-container">
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div align="center">
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
    <br>
  </mat-card-actions>
</mat-card>
<br><br><br><br><br><br><br><br><br><br>